.Notifications {
    border: 1px dashed #c1384c ;
    padding: 10px;
}

.Notifications [data-notification-type="default"] {
    color: blue;
}

.Notifications [data-notification-type="urgent"] {
    color: red;
}